.my-activity-card {
    height: 95%;
    border-radius: 10px;
}

.my-activity-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 20pt;
    font-family: poppins;
    color: black;
}
